<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreaterThan20</title>
</head>
<body>
    <h1>Produtos com valor acima de <stan th:text="${value}"/> </h1> 
    <h3>
        <table>
            <tr th:each="products:${products}">
            <td th:text="${products?.id}" />
            <td th:text="${products?.name}"/>
            <td th:text="${products?.cost}"/>
              
        </tr>
        </table>
    </h3>
</body>
</html>